.card-desktop {
  height: 10rem;
  width: 25rem;
  font-family: sans-serif;
}
.card-body-desktop {
  display: flex;
  justify-content: flex-start;
}
.card-tv-desktop {
  display: flex;
  justify-content: flex-start;
}
.wrapper-desktop {
  display: flex;
  flex-wrap: wrap;
}
