.layout-text {
}
.sections {
  display: flex;
}
.sections-all {
  display: flex;
  justify-content: space-between;
}
.image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.image1 {
  width: 45%;
}
